In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /Users/eunbeejang/miniconda3/envs/py38/lib/python3.8/site-packages (1.1.2)
Requirement already satisfied: numpy>=1.15.4 in /Users/eunbeejang/miniconda3/envs/py38/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/eunbeejang/miniconda3/envs/py38/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/eunbeejang/.local/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/eunbeejang/miniconda3/envs/py38/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
test_path = "bank-additional.csv"
test_data = pd.read_csv(test_path, sep=';')

In [8]:
test_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [7]:
# Label distribution
test_data.y.value_counts()

no     3668
yes     451
Name: y, dtype: int64

In [9]:
test_data.age.describe()

count    4119.000000
mean       40.113620
std        10.313362
min        18.000000
25%        32.000000
50%        38.000000
75%        47.000000
max        88.000000
Name: age, dtype: float64

In [10]:
test_data.job.value_counts()

admin.           1012
blue-collar       884
technician        691
services          393
management        324
retired           166
self-employed     159
entrepreneur      148
unemployed        111
housemaid         110
student            82
unknown            39
Name: job, dtype: int64

In [11]:
test_data.marital.value_counts()

married     2509
single      1153
divorced     446
unknown       11
Name: marital, dtype: int64

In [12]:
test_data.education.value_counts()

university.degree      1264
high.school             921
basic.9y                574
professional.course     535
basic.4y                429
basic.6y                228
unknown                 167
illiterate                1
Name: education, dtype: int64